<section class="sm:flex sm:justify-around sm:gap-x-10">
  <div class="sm:sticky sm:top-10 h-[80vh] w-11/12 mx-auto sm:w-1/2 bg-black">
    @if (videoUrl$ | async; as videoUrl) {
    <video [src]="videoUrl" controls autoplay loop class="w-full h-full max-h"></video>
    }
  </div>
  @if (videoDetails$ | async; as videoDetails) {
  <div class="space-y-4 w-11/12 mx-auto sm:w-1/2 mt-4 sm:mt-0">
    <div class="border rounded-lg">
      <!-- Video Details Accordion Header -->
      <button
        class="w-full flex justify-between items-center rounded-lg p-4 text-left text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none"
        (click)="toggleDetails()">
        <span class="font-semibold">Video Details</span>
        <svg [class.rotate-180]="isDetailsOpen()" class="w-5 h-5 transform transition-transform"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>

      <!-- Video Details Accordion Content -->
      @if (isDetailsOpen()) {
      <div class="p-4 space-y-3">
        <h3 class="text-xl font-semibold">Title</h3>
        <p>{{ videoDetails.title }}</p>
        <h3 class="text-xl font-semibold">Description</h3>
        @if (videoDetails.description) {
        <p>{{ videoDetails.description }}</p>
        } @else {
        <p class="italic">No description provided.</p>
        }
        <h3 class="text-xl font-semibold">Creator</h3>
        <p>{{ videoDetails.user.username }}</p>
        <h3 class="text-xl font-semibold">Date Uploaded</h3>
        <p>{{ videoDetails.created_at | date: 'medium' }}</p>
        <h3 class="text-xl font-semibold">Tags</h3>
        @if (videoDetails.tags.length > 0) {
        <div class="flex flex-wrap gap-x-2">
          @for (tag of videoDetails.tags; track tag.id) {
          <div class="rounded-md bg-indigo-600 p-2 text-white">
            {{ tag.tag }}
          </div>
          }
        </div>
        } @else {
        <p class="italic">No tags provided.</p>
        }
        <h3 class="text-xl font-semibold">Likes</h3>
        <div class="flex justify-between">
          <p>{{ videoDetails.like_count }}</p>
          <button (click)="toggleVideoLike()" class="flex items-center " [class]="{
              'text-gray-500': !videoDetails.is_liked,
              'hover:text-gray-600': !videoDetails.is_liked,
              'text-red-500': videoDetails.is_liked,
              'hover:text-red-400': videoDetails.is_liked,
            }">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-1" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M3.172 5a4 4 0 015.656 0L10 6.172l1.172-1.172a4 4 0 115.656 5.656l-1.172 1.172L10 17.414l-5.656-5.656L3.172 10a4 4 0 010-5z" />
            </svg>
            <p>{{ videoDetails.is_liked ? 'Liked' : 'Not Liked' }}</p>
          </button>
        </div>
      </div>
      }
    </div>

    @if (videoComments$ | async; as videoComments) {
    <div class="border rounded-lg">
      <!-- Comments Accordion Header -->
      <button
        class="w-full flex justify-between items-center rounded-lg p-4 text-left text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none"
        (click)="toggleComments()">
        <span class="font-semibold">{{ videoComments.comment_count }} Comments</span>
        <svg [class.rotate-180]="isCommentsOpen()" class="w-5 h-5 transform transition-transform"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>

      <!-- Comments Accordion Content -->
      @if (isCommentsOpen()) {
      <div class="p-4 space-y-3">
        <form [formGroup]="commentForm" (ngSubmit)="onComment()">
          <textarea name="commentInput" formControlName="comment" id="commentInput" placeholder="Add a comment..."
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600"></textarea>
          @if (commentControl.touched && commentControl.hasError('required')) {
          <span class="text-sm text-red-500">Comment cannot be blank</span>
          }
          <div class="mt-3 flex justify-end gap-x-4">
            <button type="button" (click)="commentForm.reset()"
              class="rounded-md px-3 py-1 font-semibold text-black shadow-sm hover:bg-gray-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Clear</button>
            <button type="submit" [disabled]="commentControl.hasError('required')"
              class="rounded-md bg-indigo-600 disabled:bg-gray-300 px-3 py-1 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Comment</button>
          </div>
        </form>
        @for (comment of videoComments.comments; track comment.id) {
        <div class="flex justify-between items-center">
          <div>
            <p class="text-sm text-gray-700"><strong>{{ comment.username }}</strong></p>
            <p>{{ comment.comment }}</p>
          </div>
          <button (click)="toggleCommentLike(comment.id)" class="flex items-center " [class]="{
              'text-gray-500': !comment.is_liked,
              'hover:text-gray-600': !comment.is_liked,
              'text-red-500': comment.is_liked,
              'hover:text-red-400': comment.is_liked,
            }">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-1" viewBox="0 0 20 20" fill="currentColor">
              <path
                d="M3.172 5a4 4 0 015.656 0L10 6.172l1.172-1.172a4 4 0 115.656 5.656l-1.172 1.172L10 17.414l-5.656-5.656L3.172 10a4 4 0 010-5z" />
            </svg>
            <span class="text-sm">{{ comment.likes }}</span>
          </button>
        </div>
        }
      </div>
      }
    </div>
    }
  </div>
  }
</section>
